body {
  margin: 0;
  font-family: 'Dela Gothic One', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

code {
  font-family: 'source-code-pro', 'Menlo, Monaco', 'Consolas', 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}